main {
  display: flex;
  height: 100%;

  .main-wrapper {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;

    .logo-section {
      display: flex;
      justify-content: center;
    }

    .main-title {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 1rem;
      animation: glow 2s ease-in;

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        color: #99097D;
        font-weight: normal;
        font-size: 3em;
        text-transform: uppercase;
      }

      h2 {
        color: #00C3Dd;
        text-transform: uppercase;
      }
    }
  }

  .main-right {
    margin-right: 0.5rem;
    background: linear-gradient(to bottom left, #000D22 75%, #00C3Dd, #004D68, #550455, #99097D);
  }
}

p {
  color: #ffff;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: sans-serif;
}

button {
  background: #000D22;
  padding: 0.5rem;
  border-image-slice: 1;
  background: black;
  font-size: 0.8rem;
  border-width: 2px;
  margin: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.primary {
  border-color: #00d4ff;
  color: #00d4ff;

  &:hover {
    border-color: #99097D;
  }
}

.secondary {
  border-color: #99097D;
  color: #00d4ff;

  &:hover {
    border-color: #00d4ff;
  }
}

.main-nav {
  display: flex;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    max-width: 50%;
    min-width: 50%;
    border-radius: 20px;
  }
}
