<main>
  <section class="main-wrapper">
    <section class="logo-section">
      <picture>
        <img src="assets/icons/trash.svg" alt="Logo" height="200" width="200">
      </picture>
    </section>
    <header class="main-title">
      <h1>Skoupidia</h1>
      <h2>Recycle for a better future</h2>

      <section>
        <p>One of the major issues in fast growing cities or developed cities is to manage the waste, that are being
          dumped on the daily basis.
        </p>

        <p>
          Our focus is on building a better future for next generation by eliminating waste
          by means of recycle and reuse of various kinds of waste which are both biodegradable and non-biodegradable.
        </p>
        <section class="controls">
          <button class="secondary">Register</button>
          <button class="primary">Login</button>
          <button class="primary">Learn More</button>
        </section>
      </section>

    </header>
  </section>
</main>
