<div class='container'>
	<nav class=" navContainer navbar navbar-expand-sm ">
			<section id="logo" style="border:groove; " class="logo-content">sss</section>
			<section id="navigation" style="border:groove; " class=" reverseRow nav-items navbar-nav">
				<div class="nav-item"><a class="active nav-link" href="#">Home</a></div>
				<div class="nav-item"><a class="nav-link" href="#">Solutions</a></div>
				<div class="nav-item"><a class="nav-link" href="#">Who we </a></div>
				<div class="nav-item"><a class="nav-link" href="#">About Us</a></div>
				<div class="nav-item"><a class="nav-link" href="#">Contact Us</a></div>
				<div class="nav-item"><a class="nav-link" href="#">Login</a></div>
			</section>

	</nav>
	<main>
		<section class="main-left">
			<header class="main-title">
				<h1 >Skoupidia</h1>
				<h2>Recycle for a better tomorrow</h2>

				<section >
					<p>One of the major issues in fast growing cities or developed cities is to manage the waste,
						that
						are being
						dumped on the daily basis. Our focus is on building a better future for next generation by
						eliminating waste
						by means of recycle and reuse of various kinds of waste which are both biodegradable and
						non-biodegradable.
					</p>
					<button class="primary">Learn More</button>
				</section>

			</header>
		</section>
		<section class="main-right">

		</section>
	</main>
</div>