<main>
  <section class="main-wrapper">
    <header class="main-title">
      <h1>Skoupidia</h1>
      <h2>Recycle for a better tomorrow</h2>

      <section>
        <p>One of the major issues in fast growing cities or developed cities is to manage the waste, that are being
          dumped on the daily basis. Our focus is on building a better future for next generation by eliminating waste
          by means of recycle and reuse of various kinds of waste which are both biodegradable and non-biodegradable.
        </p>
        <button class="primary">Learn More</button>
      </section>

    </header>
  </section>
</main>
