/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;  
  background: #000D22!important;
  color: #ffff;
  -webkit-font-smoothing: antialiased;
  animation: glow 2s ease-in;
}


@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
