<nav>
  <section class="logo-content"></section>
  <section class="nav-items">
    <a class="active" href="#">Home</a>
    <a href="#">Solutions</a>
    <a href="#">Who we help</a>
    <a href="#">About Us</a>
    <a href="#">Contact Us</a>
    <a href="#">Login</a>
  </section>
</nav>

<main>
  <section class="main-left">
    <header class="main-title">
      <h1>Skoupidia</h1>
      <h2>Recycle for a better tomorrow</h2>

      <section>
        <p>One of the major issues in fast growing cities or developed cities is to manage the waste, that are being
          dumped on the daily basis. Our focus is on building a better future for next generation by eliminating waste
          by means of recycle and reuse of various kinds of waste which are both biodegradable and non-biodegradable.
        </p>
        <button class="primary">Learn More</button>
      </section>

    </header>
  </section>
  <section class="main-right">

  </section>
</main>
