nav {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;

  .nav-items {
    font-size: 1.2rem;
    font-weight: normal;

    a {
      margin: 0.5rem;
      padding: 0.5rem;
      color: #00C3Dd;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: #ffff;
      }
    }

    .active {
      color: #ffff;
    }
  }

}

main {
  display: flex;
  height: 100%;

  section {
    width: 100%;
    height: 100%;
  }

  .main-left {
    margin-left: 0.5rem;
    background: linear-gradient(to bottom right, #000D22 75%, #00C3Dd, #004D68, #550455, #99097D);
    display: flex;
    flex-direction: column;

    .main-title {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 5rem;
      animation: glow 3s ease-in;

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        color: #99097D;
        font-weight: normal;
        font-size: 5rem;
        text-transform: uppercase;
      }

      h2 {
        color: #00C3Dd;
        text-transform: uppercase;
      }
    }
  }

  .main-right {
    margin-right: 0.5rem;
    background: linear-gradient(to bottom left, #000D22 75%, #00C3Dd, #004D68, #550455, #99097D);
  }
}

p {
  color: #ffff;
  padding: 1rem;
  font-size: 1.3rem;
}

button {
  background: #000D22;
  padding: 0.5rem;
  border-image-slice: 1;
  background: black;
  font-size: 0.8rem;
  border-width: 2px;
  margin: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.primary {
  border-image: linear-gradient(to left bottom, #99097D, #00d4ff);
  color: #00d4ff;

  &:hover {
    border-image: linear-gradient(to left, #00d4ff, #99097D);
  }
}

.main-nav {
  display: flex;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
